.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-button-prev {
  display: none;
}
.swiper-scrollbar-drag {
  background-color: blue;
}
.swiper-scrollbar-horizontal {
  display: none;
}
