@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.switch-btn {
  @apply bg-bgray-300;
}
.switch-btn.active {
  @apply bg-success-300;
}
.switch-btn span {
  @apply translate-x-0;
}
.switch-btn.active span {
  @apply translate-x-[23px];
}

body {
  font-family: 'Roboto', sans-serif;
}
.secondFont {
  font-family: 'Roboto Condensed', sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.slider-hours {
  position: relative;
  width: 15px;
  color: transparent;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.slider-hours::before {
  left: 0;
  display: inline-block;
  content: attr(data-hour);
  z-index: 1;
  color: black;
  position: absolute;
  width: 50px;
  top: 0;
  left: 50%;
  margin-left: -5px;
  pointer-events: none;
}
.slider-days {
  color: transparent;
  position: relative;
  width: 10px;

  font-size: 12px;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

.slider-days::before {
  display: inline-block;
  content: attr(data-day);
  z-index: 1;
  color: #888888;
  position: absolute;
  width: 50px;
  left: 11px;
  margin-left: -5px;
  pointer-events: none;
}

.react-horizontal-scrolling-menu--wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
  margin-bottom: 30px;
  height: 70px;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.mantine-Slider-root {
  width: 100%;
}

.mapboxgl-ctrl-bottom-left {
  bottom: 40% !important;
  width: 106% !important;
  display: flex;
  justify-content: flex-end;
}
.mapboxgl-ctrl-logo {
  transform: rotate(-90deg);
}
.mapboxgl-ctrl-bottom-right {
  bottom: 55% !important;
}

.tint0 {
  background: linear-gradient(360deg, #dfdfdfff 0%, #9bea8fff 100%);
}
.tint1 {
  background: linear-gradient(360deg, #9bea8fff 0%, #58ff42ff 100%);
}
.tint2 {
  background: linear-gradient(360deg, #58ff42ff 0%, #47c278ff 100%);
}

.tint3 {
  background: linear-gradient(360deg, #47c278ff 0%, #4793f9ff 100%);
}
.tint4 {
  background: linear-gradient(360deg, #4793f9ff 0%, #0c59ffff 100%);
}

.tint5 {
  background: linear-gradient(360deg, #0c59ffff 0%, #6153c1ff 100%);
}

.tint6 {
  background: linear-gradient(360deg, #6153c1ff 0%, #ff93a3ff 100%);
}

.tint7 {
  background: linear-gradient(360deg, #ff93a3ff 0%, #ff3f35ff 100%);
}

.tint8 {
  background: linear-gradient(360deg, #ff3f35ff 0%, #c20511ff 100%);
}

.tint9 {
  background: linear-gradient(360deg, #c20511ff 0%, #ffeb0aff 100%);
}
.tint {
  margin-bottom: -1px;
}
.mantine-UnstyledButton-root:active {
  background-color: initial;
}
ion-modal,
ion-modal ion-backdrop {
  pointer-events: none;
}
.mapboxgl-canvas-container {
  height: 100%;
}

/* .embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  min-width: 0;
} */

.embla__slide {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  min-width: 0;
  font-size: 24px;
}
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  text-align: center;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;

  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
